# OsintFootprints specific #
#######################
/cache/
/log/
/osintfootprints.db*
passwd
osintfootprints.crt
osintfootprints.key

osintfootprints/static/node_modules/*

osintfootprints/static/node_modules/alertifyjs/*
osintfootprints/static/node_modules/alertifyjs/build/*
osintfootprints/static/node_modules/alertifyjs/build/css/*

!osintfootprints/static/node_modules/alertifyjs/
!osintfootprints/static/node_modules/alertifyjs/build/
!osintfootprints/static/node_modules/alertifyjs/build/alertify.min.js
!osintfootprints/static/node_modules/alertifyjs/build/css/
!osintfootprints/static/node_modules/alertifyjs/build/css/alertify.min.css

osintfootprints/static/node_modules/bootstrap/*
osintfootprints/static/node_modules/bootstrap/dist/*
osintfootprints/static/node_modules/bootstrap/dist/js/*
osintfootprints/static/node_modules/bootstrap/dist/css/*
osintfootprints/static/node_modules/bootstrap/dist/fonts/*

!osintfootprints/static/node_modules/bootstrap/
!osintfootprints/static/node_modules/bootstrap/dist/
!osintfootprints/static/node_modules/bootstrap/dist/js/
!osintfootprints/static/node_modules/bootstrap/dist/js/bootstrap.min.js
!osintfootprints/static/node_modules/bootstrap/dist/css/
!osintfootprints/static/node_modules/bootstrap/dist/css/bootstrap.min.css
!osintfootprints/static/node_modules/bootstrap/dist/fonts/
!osintfootprints/static/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
!osintfootprints/static/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2

osintfootprints/static/node_modules/jquery/*
osintfootprints/static/node_modules/jquery/dist/*

!osintfootprints/static/node_modules/jquery/
!osintfootprints/static/node_modules/jquery/dist/
!osintfootprints/static/node_modules/jquery/dist/jquery.min.js

osintfootprints/static/node_modules/sigma/*
osintfootprints/static/node_modules/sigma/build/*
osintfootprints/static/node_modules/sigma/build/plugins/*

!osintfootprints/static/node_modules/sigma/
!osintfootprints/static/node_modules/sigma/build/
!osintfootprints/static/node_modules/sigma/build/sigma.min.js
!osintfootprints/static/node_modules/sigma/build/plugins/
!osintfootprints/static/node_modules/sigma/build/plugins/sigma.parsers.json.min.js
!osintfootprints/static/node_modules/sigma/build/plugins/sigma.plugins.dragNodes.min.js
!osintfootprints/static/node_modules/sigma/build/plugins/sigma.layout.forceAtlas2.min.js
!osintfootprints/static/node_modules/sigma/build/plugins/sigma.renderers.snapshot.min.js

osintfootprints/static/node_modules/tablesorter/*
osintfootprints/static/node_modules/tablesorter/dist/*
osintfootprints/static/node_modules/tablesorter/dist/js/*
osintfootprints/static/node_modules/tablesorter/dist/css/*
osintfootprints/static/node_modules/tablesorter/dist/js/extras/*

!osintfootprints/static/node_modules/tablesorter/
!osintfootprints/static/node_modules/tablesorter/dist/
!osintfootprints/static/node_modules/tablesorter/dist/css/
!osintfootprints/static/node_modules/tablesorter/dist/css/jquery.tablesorter.pager.min.css
!osintfootprints/static/node_modules/tablesorter/dist/css/theme.default.min.css
!osintfootprints/static/node_modules/tablesorter/dist/js/
!osintfootprints/static/node_modules/tablesorter/dist/js/jquery.tablesorter.min.js
!osintfootprints/static/node_modules/tablesorter/dist/js/jquery.tablesorter.widgets.min.js
!osintfootprints/static/node_modules/tablesorter/dist/js/extras/
!osintfootprints/static/node_modules/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js

osintfootprints/static/node_modules/d3/*

!osintfootprints/static/node_modules/d3/
!osintfootprints/static/node_modules/d3/d3.min.js

# Compiled source #
###################
__pycache__/
*.com
*.class
*.dll
*.exe
*.o
*.so
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite
*.db

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.*~
Icon?
ehthumbs.db
Thumbs.db

# Virtual environments #
########################
venv/
venv3/

# IDE #
#######
.idea
.vscode

# Test & Coverage Reports #
###########################
.coverage
coverage/
test/acceptance/results/
htmlcov/
report/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Documentation #
#################
docs/_build/
